{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
let extractStatus = { (op: {{Codec.ReturnType}}) throws -> GoogleGax._PollableOperationImpl<{{Codec.DiscoveryLRO.ReturnType}}>.State in
  guard op._done() else {
    return .init(done: false, result: nil)
  }

  do {
    try op._detectErrors()
  } catch let e as GoogleGax.RequestError {
    return .init(done: true, result: .failure(e))
  }
  return .init(done: true, result: .success(op))
}
let rawOp = try await self.{{Codec.Name}}(request: request, options: options)
let initialState = try extractStatus(rawOp)
let poll = { () async throws -> GoogleGax._PollableOperationImpl<{{Codec.DiscoveryLRO.ReturnType}}>.State in
{{! The polling function is always called `getOperation`, sidekick picks the name. }}
let op = try await self.getOperation(request: .init().with {
    $0.operation = rawOp._name()
    {{! The path parameters, if any, are captured from the request, which is called `request` }}
    {{#Codec.DiscoveryLRO.PollingPathParameters}}
    $0.{{{.}}} = request.{{{.}}}
    {{/Codec.DiscoveryLRO.PollingPathParameters}}
  }, options: options)
  return try extractStatus(op)
}
return GoogleGax._PollableOperationImpl(
  initialState: initialState,
  polling: options.pollingErrorPolicy ?? self.pollingErrorPolicy,
  backoff: options.pollingBackoffPolicy ?? self.pollingBackoffPolicy,
  poll: poll
)
