{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{> /templates/partials/prologue}}
#ifndef {{Codec.ClientHeaderIncludeGuard}}
#define {{Codec.ClientHeaderIncludeGuard}}

{{#Codec.GenerateGrpcTransport}}
#include "{{Codec.ConnectionHeaderPath}}"
{{/Codec.GenerateGrpcTransport}}
{{^Codec.GenerateGrpcTransport}}
#include "{{Codec.RestConnectionHeaderPath}}"
{{/Codec.GenerateGrpcTransport}}
#include "google/cloud/future.h"
{{#Codec.HasIamUpdater}}
#include "google/cloud/internal/make_status.h"
{{/Codec.HasIamUpdater}}
{{#Codec.HasLongrunningMethod}}
#include "google/cloud/no_await_tag.h"
{{/Codec.HasLongrunningMethod}}
#include "google/cloud/options.h"
#include "google/cloud/polling_policy.h"
#include "google/cloud/status_or.h"
#include "google/cloud/version.h"
{{#Codec.HasIamUpdater}}
#include "google/cloud/iam_updater.h"
{{/Codec.HasIamUpdater}}
{{#Codec.HasGrpcLRO}}
#include <google/longrunning/operations.grpc.pb.h>
{{/Codec.HasGrpcLRO}}
{{#Codec.HasDuration}}
#include <google/protobuf/duration.pb.h>
{{/Codec.HasDuration}}
{{#Codec.HasMap}}
#include <map>
{{/Codec.HasMap}}
#include <memory>
#include <string>

namespace google {
namespace cloud {
namespace {{Codec.Namespace}} {
GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_BEGIN

///
{{#Codec.DescriptionLines}}
{{#HasContent}}
/// {{Text}}
{{/HasContent}}
{{^HasContent}}
///
{{/HasContent}}
{{/Codec.DescriptionLines}}
///
/// @par Equality
///
/// Instances of this class created via copy-construction or copy-assignment
/// always compare equal. Instances created with equal
/// `std::shared_ptr<*Connection>` objects compare equal. Objects that compare
/// equal share the same underlying resources.
///
/// @par Performance
///
/// Creating a new instance of this class is a relatively expensive operation,
/// new objects establish new connections to the service. In contrast,
/// copy-construction, move-construction, and the corresponding assignment
/// operations are relatively efficient as the copies share all underlying
/// resources.
///
/// @par Thread Safety
///
/// Concurrent access to different instances of this class, even if they compare
/// equal, is guaranteed to work. Two or more threads operating on the same
/// instance of this class is not guaranteed to work. Since copy-construction
/// and move-construction is a relatively efficient operation, consider using
/// such a copy when using this class from multiple threads.
///
{{#Codec.HasClientCommentReferences}}
{{#Codec.ClientCommentReferenceLines}}
/// {{.}}
{{/Codec.ClientCommentReferenceLines}}
///
{{/Codec.HasClientCommentReferences}}
{{#Codec.IsDeprecated}}
class
 GOOGLE_CLOUD_CPP_DEPRECATED(
      "{{Codec.Name}} has been deprecated and will be turned down in the future."
)
{{Codec.ClientClassName}} {
{{/Codec.IsDeprecated}}
{{^Codec.IsDeprecated}}
class {{Codec.ClientClassName}} {
{{/Codec.IsDeprecated}}
 public:
  explicit {{Codec.ClientClassName}}(std::shared_ptr<{{Codec.ConnectionClassName}}> connection, Options opts = {});
  ~{{Codec.ClientClassName}}();

  ///@{
  /// @name Copy and move support
  {{Codec.ClientClassName}}({{Codec.ClientClassName}} const&) = default;
  {{Codec.ClientClassName}}& operator=({{Codec.ClientClassName}} const&) = default;
  {{Codec.ClientClassName}}({{Codec.ClientClassName}}&&) = default;
  {{Codec.ClientClassName}}& operator=({{Codec.ClientClassName}}&&) = default;
  ///@}

  ///@{
  /// @name Equality
  friend bool operator==({{Codec.ClientClassName}} const& a, {{Codec.ClientClassName}} const& b) {
    return a.connection_ == b.connection_;
  }
  friend bool operator!=({{Codec.ClientClassName}} const& a, {{Codec.ClientClassName}} const& b) {
    return !(a == b);
  }
  ///@}
{{> /templates/partials/client_methods}}

 private:
  std::shared_ptr<{{Codec.ConnectionClassName}}> connection_;
  Options options_;
};

GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_END
}  // namespace {{Codec.Namespace}}
}  // namespace cloud
}  // namespace google

#endif  // {{Codec.ClientHeaderIncludeGuard}}
