{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{> /templates/partials/prologue}}
{{#Codec.HasDeprecatedFieldInSignature}}
#include "google/cloud/internal/disable_deprecation_warnings.inc"
{{/Codec.HasDeprecatedFieldInSignature}}
#include "{{Codec.ClientHeaderPath}}"
#include <memory>
{{#Codec.HasIamUpdater}}
#include "{{Codec.OptionsHeaderPath}}"
#include <thread>
{{/Codec.HasIamUpdater}}
#include <utility>

namespace google {
namespace cloud {
namespace {{Codec.Namespace}} {
GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_BEGIN

{{Codec.ClientClassName}}::{{Codec.ClientClassName}}(
    std::shared_ptr<{{Codec.ConnectionClassName}}> connection, Options opts)
    : connection_(std::move(connection)),
      options_(internal::MergeOptions(std::move(opts),
      connection_->options())) {}
{{Codec.ClientClassName}}::~{{Codec.ClientClassName}}() = default;

{{#Codec.Methods}}
{{#Signatures}}
{{#IsUnary}}
{{{CppReturnType}}}
{{ServiceName}}Client::{{Name}}({{#Parameters}}{{{Type}}} {{Name}}, {{/Parameters}}Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  {{{CppRequestType}}} request;
{{#Parameters}}
{{#IsScalar}}
  request.set_{{FieldName}}({{Name}});
{{/IsScalar}}
{{#IsMessage}}
  *request.mutable_{{FieldName}}() = {{Name}};
{{/IsMessage}}
{{#IsMapOrRepeated}}
{{=<< >>=}}
  *request.mutable_<<FieldName>>() = {<<Name>>.begin(), <<Name>>.end()};
<<={{ }}=>>
{{/IsMapOrRepeated}}
{{/Parameters}}
  return connection_->{{Name}}(request);
}

{{#HasIamUpdater}}
StatusOr<google::iam::v1::Policy>
{{ServiceName}}Client::SetIamPolicy(std::string const& resource, IamUpdater const& updater, Options opts) {
  internal::CheckExpectedOptions<{{ServiceName}}BackoffPolicyOption>(opts, __func__);
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  google::iam::v1::GetIamPolicyRequest get_request;
  get_request.set_resource(resource);
  google::iam::v1::SetIamPolicyRequest set_request;
  set_request.set_resource(resource);
  auto backoff_policy = internal::CurrentOptions().get<{{ServiceName}}BackoffPolicyOption>();
  if (backoff_policy != nullptr) {
    backoff_policy = backoff_policy->clone();
  }
  for (;;) {
    auto recent = connection_->GetIamPolicy(get_request);
    if (!recent) {
      return recent.status();
    }
    auto policy = updater(*std::move(recent));
    if (!policy) {
      return internal::CancelledError(
          "updater did not yield a policy",
          GCP_ERROR_INFO().WithMetadata("gl-cpp.error.origin", "client"));
    }
    *set_request.mutable_policy() = *std::move(policy);
    auto result = connection_->SetIamPolicy(set_request);
    if (result ||
        result.status().code() != StatusCode::kAborted ||
        backoff_policy == nullptr) {
      return result;
    }
    std::this_thread::sleep_for(backoff_policy->OnCompletion());
  }
}

{{/HasIamUpdater}}
{{/IsUnary}}
{{#IsPaginated}}
StreamRange<{{{RangeOutputType}}}>
{{ServiceName}}Client::{{Name}}({{#Parameters}}{{{Type}}} {{Name}}, {{/Parameters}}Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  {{{CppRequestType}}} request;
{{#Parameters}}
{{#IsScalar}}
  request.set_{{FieldName}}({{Name}});
{{/IsScalar}}
{{#IsMessage}}
  *request.mutable_{{FieldName}}() = {{Name}};
{{/IsMessage}}
{{#IsMapOrRepeated}}
{{=<< >>=}}
  *request.mutable_<<FieldName>>() = {<<Name>>.begin(), <<Name>>.end()};
<<={{ }}=>>
{{/IsMapOrRepeated}}
{{/Parameters}}
  return connection_->{{Name}}(request);
}

{{/IsPaginated}}
{{#IsLongrunning}}
future<{{{CppReturnType}}}>
{{ServiceName}}Client::{{Name}}({{#Parameters}}{{{Type}}} {{Name}}, {{/Parameters}}Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  {{{CppRequestType}}} request;
{{#Parameters}}
{{#IsScalar}}
  request.set_{{FieldName}}({{Name}});
{{/IsScalar}}
{{#IsMessage}}
  *request.mutable_{{FieldName}}() = {{Name}};
{{/IsMessage}}
{{#IsMapOrRepeated}}
{{=<< >>=}}
  *request.mutable_<<FieldName>>() = {<<Name>>.begin(), <<Name>>.end()};
<<={{ }}=>>
{{/IsMapOrRepeated}}
{{/Parameters}}
  return connection_->{{Name}}(request);
}

StatusOr<{{{LongrunningOperationType}}}>
{{ServiceName}}Client::{{Name}}(NoAwaitTag, {{#Parameters}}{{{Type}}} {{Name}}, {{/Parameters}}Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  {{{CppRequestType}}} request;
{{#Parameters}}
{{#IsScalar}}
  request.set_{{FieldName}}({{Name}});
{{/IsScalar}}
{{#IsMessage}}
  *request.mutable_{{FieldName}}() = {{Name}};
{{/IsMessage}}
{{#IsMapOrRepeated}}
{{=<< >>=}}
  *request.mutable_<<FieldName>>() = {<<Name>>.begin(), <<Name>>.end()};
<<={{ }}=>>
{{/IsMapOrRepeated}}
{{/Parameters}}
  return connection_->{{Name}}(NoAwaitTag{}, request);
}

{{/IsLongrunning}}
{{#IsStreamingRead}}
StreamRange<{{{CppResponseType}}}>
{{ServiceName}}Client::{{Name}}({{#Parameters}}{{{Type}}} {{Name}}, {{/Parameters}}Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  {{{CppRequestType}}} request;
{{#Parameters}}
{{#IsScalar}}
  request.set_{{FieldName}}({{Name}});
{{/IsScalar}}
{{#IsMessage}}
  *request.mutable_{{FieldName}}() = {{Name}};
{{/IsMessage}}
{{#IsMapOrRepeated}}
{{=<< >>=}}
  *request.mutable_<<FieldName>>() = {<<Name>>.begin(), <<Name>>.end()};
<<={{ }}=>>
{{/IsMapOrRepeated}}
{{/Parameters}}
  return connection_->{{Name}}(request);
}

{{/IsStreamingRead}}
{{/Signatures}}
{{#IsUnary}}
{{{CppReturnType}}}
{{ServiceName}}Client::{{Name}}({{{CppRequestType}}} const& request, Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  return connection_->{{Name}}(request);
}

{{/IsUnary}}
{{#IsPaginated}}
StreamRange<{{{RangeOutputType}}}>
{{ServiceName}}Client::{{Name}}({{{CppRequestType}}} request, Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  return connection_->{{Name}}(std::move(request));
}

{{/IsPaginated}}
{{#IsLongrunning}}
future<{{{CppReturnType}}}>
{{ServiceName}}Client::{{Name}}({{{CppRequestType}}} const& request, Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  return connection_->{{Name}}(request);
}

StatusOr<{{{LongrunningOperationType}}}>
{{ServiceName}}Client::{{Name}}(NoAwaitTag, {{{CppRequestType}}} const& request, Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  return connection_->{{Name}}(NoAwaitTag{}, request);
}

future<{{{CppReturnType}}}>
{{ServiceName}}Client::{{Name}}({{{LongrunningOperationType}}} const& operation, Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  return connection_->{{Name}}(operation);
}

{{/IsLongrunning}}
{{#IsStreamingRead}}
StreamRange<{{{CppResponseType}}}>
{{ServiceName}}Client::{{Name}}({{{CppRequestType}}} const& request, Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  return connection_->{{Name}}(request);
}

{{/IsStreamingRead}}
{{#IsBidirStreaming}}
std::unique_ptr<::google::cloud::AsyncStreamingReadWriteRpc<
    {{{CppRequestType}}},
    {{{CppResponseType}}}>>
{{ServiceName}}Client::Async{{Name}}(Options opts) {
  internal::OptionsSpan span(
      internal::MergeOptions(std::move(opts), options_));
  return connection_->Async{{Name}}();
}

{{/IsBidirStreaming}}
{{/Codec.Methods}}
{{#Codec.AsyncMethods}}
{{#Signatures}}
future<{{{CppReturnType}}}>
{{ServiceName}}Client::Async{{Name}}({{#Parameters}}{{{Type}}} {{Name}}, {{/Parameters}}Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  {{{CppRequestType}}} request;
{{#Parameters}}
{{#IsScalar}}
  request.set_{{FieldName}}({{Name}});
{{/IsScalar}}
{{#IsMessage}}
  *request.mutable_{{FieldName}}() = {{Name}};
{{/IsMessage}}
{{#IsMapOrRepeated}}
{{=<< >>=}}
  *request.mutable_<<FieldName>>() = {<<Name>>.begin(), <<Name>>.end()};
<<={{ }}=>>
{{/IsMapOrRepeated}}
{{/Parameters}}
  return connection_->Async{{Name}}(request);
}

{{/Signatures}}
future<{{{CppReturnType}}}>
{{ServiceName}}Client::Async{{Name}}({{{CppRequestType}}} const& request, Options opts) {
  internal::OptionsSpan span(internal::MergeOptions(std::move(opts), options_));
  return connection_->Async{{Name}}(request);
}

{{/Codec.AsyncMethods}}
GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_END
}  // namespace {{Codec.Namespace}}
}  // namespace cloud
}  // namespace google
