{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{> /templates/partials/prologue}}
#include "{{Codec.IdempotencyPolicyHeaderPath}}"
#include <memory>

namespace google {
namespace cloud {
namespace {{Codec.Namespace}} {
GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_BEGIN

using ::google::cloud::Idempotency;

{{Codec.ConnectionIdempotencyPolicyClassName}}::~{{Codec.ConnectionIdempotencyPolicyClassName}}() = default;

std::unique_ptr<{{Codec.ConnectionIdempotencyPolicyClassName}}>
{{Codec.ConnectionIdempotencyPolicyClassName}}::clone() const {
  return std::make_unique<{{Codec.ConnectionIdempotencyPolicyClassName}}>(*this);
}

{{#Codec.Methods}}
{{#IsPaginated}}
Idempotency {{ServiceName}}ConnectionIdempotencyPolicy::{{Name}}({{{CppRequestType}}}) {  // NOLINT
  return Idempotency::{{Idempotency}};
}

{{/IsPaginated}}
{{^IsPaginated}}
{{#HasRequestId}}
Idempotency {{ServiceName}}ConnectionIdempotencyPolicy::{{Name}}({{{CppRequestType}}} const& request) {
  if (!request.{{RequestIdFieldName}}().empty()) return Idempotency::kIdempotent;
  return Idempotency::kNonIdempotent;
}

{{/HasRequestId}}
{{^HasRequestId}}
{{#IsSetIamPolicy}}
Idempotency {{ServiceName}}ConnectionIdempotencyPolicy::{{Name}}({{{CppRequestType}}} const& request) {
  return request.policy().etag().empty() ? Idempotency::kNonIdempotent : Idempotency::kIdempotent;
}

{{/IsSetIamPolicy}}
{{^IsSetIamPolicy}}
Idempotency {{ServiceName}}ConnectionIdempotencyPolicy::{{Name}}({{{CppRequestType}}} const&) {
  return Idempotency::{{Idempotency}};
}

{{/IsSetIamPolicy}}
{{/HasRequestId}}
{{/IsPaginated}}
{{/Codec.Methods}}
std::unique_ptr<{{Codec.ConnectionIdempotencyPolicyClassName}}>
    MakeDefault{{Codec.ConnectionIdempotencyPolicyClassName}}() {
  return std::make_unique<{{Codec.ConnectionIdempotencyPolicyClassName}}>();
}

GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_END
}  // namespace {{Codec.Namespace}}
}  // namespace cloud
}  // namespace google
