{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{> /templates/partials/prologue}}
#include "{{Codec.MetadataDecoratorHeaderPath}}"
#include "google/cloud/grpc_options.h"
#include "google/cloud/internal/absl_str_cat_quiet.h"
{{#Codec.HasExplicitRoutingMethod}}
#include "google/cloud/internal/absl_str_join_quiet.h"
{{/Codec.HasExplicitRoutingMethod}}
#include "google/cloud/internal/api_client_header.h"
{{#Codec.HasExplicitRoutingMethod}}
#include "google/cloud/internal/routing_matcher.h"
{{/Codec.HasExplicitRoutingMethod}}
#include "google/cloud/internal/url_encode.h"
#include "google/cloud/status_or.h"
{{#Codec.ProtoGrpcHeaderPath}}
#include <{{Codec.ProtoGrpcHeaderPath}}>
{{/Codec.ProtoGrpcHeaderPath}}
#include <memory>
#include <string>
#include <utility>
#include <vector>

namespace google {
namespace cloud {
namespace {{Codec.InternalNamespace}} {
GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_BEGIN

{{Codec.MetadataDecoratorClassName}}::{{Codec.MetadataDecoratorClassName}}(
    std::shared_ptr<{{Codec.StubClassName}}> child,
    std::multimap<std::string, std::string> fixed_metadata,
    std::string api_client_header)
    : child_(std::move(child)),
      fixed_metadata_(std::move(fixed_metadata)),
      api_client_header_(
          api_client_header.empty()
              ? google::cloud::internal::GeneratedLibClientHeader()
              : std::move(api_client_header)) {}

{{#Codec.Methods}}
{{#IsLongrunning}}
future<StatusOr<google::longrunning::Operation>>
{{Codec.MetadataDecoratorClassName}}::Async{{Name}}(
    google::cloud::CompletionQueue& cq,
    std::shared_ptr<grpc::ClientContext> context,
    google::cloud::internal::ImmutableOptions options,
    {{{CppRequestType}}} const& request) {
{{#HasRouting}}
  std::vector<std::string> params;
  params.reserve({{RoutingParamsCount}});

{{#RoutingParamMatchers}}
{{#IsSimple}}
{{#SimpleFields}}
{{#IsFirst}}
  if (!request.{{FieldName}}().empty()) {
{{/IsFirst}}
{{^IsFirst}}
  } else if (!request.{{FieldName}}().empty()) {
{{/IsFirst}}
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/SimpleFields}}
  }

{{/IsSimple}}
{{^IsSimple}}
  static auto* {{MatcherName}}_matcher = []{
    return new google::cloud::internal::RoutingMatcher<{{{CppRequestType}}}>{
      "{{ParamKey}}=", {
      {{#Patterns}}
      {[]({{{CppRequestType}}} const& request) -> std::string const& {
        return request.{{FieldAccessor}}();
      },
      {{#HasRegex}}
      std::regex{"{{Pattern}}", std::regex::optimize}},
      {{/HasRegex}}
      {{^HasRegex}}
      absl::nullopt},
      {{/HasRegex}}
      {{/Patterns}}
      }};
  }();
  {{MatcherName}}_matcher->AppendParam(request, params);

{{/IsSimple}}
{{/RoutingParamMatchers}}
  if (params.empty()) {
    SetMetadata(*context, *options);
  } else {
    SetMetadata(*context, *options, absl::StrJoin(params, "&"));
  }
{{/HasRouting}}
{{^HasRouting}}
{{#HasHttpRouting}}
  SetMetadata(*context, *options, absl::StrCat({{#HttpRoutingParams}}"{{Key}}=", internal::UrlEncode(request.{{FieldAccessor}}){{#HasNext}}, {{/HasNext}}{{/HttpRoutingParams}}));
{{/HasHttpRouting}}
{{^HasHttpRouting}}
  SetMetadata(*context, *options);
{{/HasHttpRouting}}
{{/HasRouting}}
  return child_->Async{{Name}}(
      cq, std::move(context), std::move(options), request);
}

StatusOr<google::longrunning::Operation>
{{Codec.MetadataDecoratorClassName}}::{{Name}}(
    grpc::ClientContext& context,
    Options options,
    {{{CppRequestType}}} const& request) {
{{#HasRouting}}
  std::vector<std::string> params;
  params.reserve({{RoutingParamsCount}});

{{#RoutingParamMatchers}}
{{#IsSimple}}
{{#SimpleFields}}
{{#IsFirst}}
  if (!request.{{FieldName}}().empty()) {
{{/IsFirst}}
{{^IsFirst}}
  } else if (!request.{{FieldName}}().empty()) {
{{/IsFirst}}
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/SimpleFields}}
  }

{{/IsSimple}}
{{^IsSimple}}
  static auto* {{MatcherName}}_matcher = []{
    return new google::cloud::internal::RoutingMatcher<{{{CppRequestType}}}>{
      "{{ParamKey}}=", {
      {{#Patterns}}
      {[]({{{CppRequestType}}} const& request) -> std::string const& {
        return request.{{FieldAccessor}}();
      },
      {{#HasRegex}}
      std::regex{"{{Pattern}}", std::regex::optimize}},
      {{/HasRegex}}
      {{^HasRegex}}
      absl::nullopt},
      {{/HasRegex}}
      {{/Patterns}}
      }};
  }();
  {{MatcherName}}_matcher->AppendParam(request, params);

{{/IsSimple}}
{{/RoutingParamMatchers}}
  if (params.empty()) {
    SetMetadata(context, options);
  } else {
    SetMetadata(context, options, absl::StrJoin(params, "&"));
  }
{{/HasRouting}}
{{^HasRouting}}
{{#HasHttpRouting}}
  SetMetadata(context, options, absl::StrCat({{#HttpRoutingParams}}"{{Key}}=", internal::UrlEncode(request.{{FieldAccessor}}){{#HasNext}}, {{/HasNext}}{{/HttpRoutingParams}}));
{{/HasHttpRouting}}
{{^HasHttpRouting}}
  SetMetadata(context, options);
{{/HasHttpRouting}}
{{/HasRouting}}
  return child_->{{Name}}(context, options, request);
}

{{/IsLongrunning}}
{{#IsBidirStreaming}}
std::unique_ptr<::google::cloud::AsyncStreamingReadWriteRpc<
      {{{CppRequestType}}},
      {{{CppResponseType}}}>>
{{Codec.MetadataDecoratorClassName}}::Async{{Name}}(
    google::cloud::CompletionQueue const& cq,
    std::shared_ptr<grpc::ClientContext> context,
    google::cloud::internal::ImmutableOptions options) {
  SetMetadata(*context, *options);
  return child_->Async{{Name}}(cq, std::move(context), std::move(options));
}

{{/IsBidirStreaming}}
{{#IsStreamingRead}}
std::unique_ptr<google::cloud::internal::StreamingReadRpc<{{{CppResponseType}}}>>
{{Codec.MetadataDecoratorClassName}}::{{Name}}(
    std::shared_ptr<grpc::ClientContext> context,
    Options const& options,
    {{{CppRequestType}}} const& request) {
  SetMetadata(*context, options);
  return child_->{{Name}}(std::move(context), options, request);
}

{{/IsStreamingRead}}
{{#IsStreamingWrite}}
std::unique_ptr<::google::cloud::internal::StreamingWriteRpc<
    {{{CppRequestType}}},
    {{{CppResponseType}}}>>
{{Codec.MetadataDecoratorClassName}}::{{Name}}(
    std::shared_ptr<grpc::ClientContext> context,
    Options const& options) {
  SetMetadata(*context, options);
  return child_->{{Name}}(std::move(context), options);
}

{{/IsStreamingWrite}}
{{#IsUnary}}
{{{CppReturnType}}}
{{Codec.MetadataDecoratorClassName}}::{{Name}}(
    grpc::ClientContext& context,
    Options const& options,
    {{{CppRequestType}}} const& request) {
{{#HasRouting}}
  std::vector<std::string> params;
  params.reserve({{RoutingParamsCount}});

{{#RoutingParamMatchers}}
{{#IsSimple}}
{{#SimpleFields}}
{{#IsFirst}}
  if (!request.{{FieldName}}().empty()) {
{{/IsFirst}}
{{^IsFirst}}
  } else if (!request.{{FieldName}}().empty()) {
{{/IsFirst}}
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/SimpleFields}}
  }

{{/IsSimple}}
{{^IsSimple}}
  static auto* {{MatcherName}}_matcher = []{
    return new google::cloud::internal::RoutingMatcher<{{{CppRequestType}}}>{
      "{{ParamKey}}=", {
      {{#Patterns}}
      {[]({{{CppRequestType}}} const& request) -> std::string const& {
        return request.{{FieldAccessor}}();
      },
      {{#HasRegex}}
      std::regex{"{{Pattern}}", std::regex::optimize}},
      {{/HasRegex}}
      {{^HasRegex}}
      absl::nullopt},
      {{/HasRegex}}
      {{/Patterns}}
      }};
  }();
  {{MatcherName}}_matcher->AppendParam(request, params);

{{/IsSimple}}
{{/RoutingParamMatchers}}
  if (params.empty()) {
    SetMetadata(context, options);
  } else {
    SetMetadata(context, options, absl::StrJoin(params, "&"));
  }
{{/HasRouting}}
{{^HasRouting}}
{{#HasHttpRouting}}
  SetMetadata(context, options, absl::StrCat({{#HttpRoutingParams}}"{{Key}}=", internal::UrlEncode(request.{{FieldAccessor}}){{#HasNext}}, {{/HasNext}}{{/HttpRoutingParams}}));
{{/HasHttpRouting}}
{{^HasHttpRouting}}
  SetMetadata(context, options);
{{/HasHttpRouting}}
{{/HasRouting}}
  return child_->{{Name}}(context, options, request);
}

{{/IsUnary}}
{{#IsPaginated}}
{{{CppReturnType}}}
{{Codec.MetadataDecoratorClassName}}::{{Name}}(
    grpc::ClientContext& context,
    Options const& options,
    {{{CppRequestType}}} const& request) {
{{#HasRouting}}
  std::vector<std::string> params;
  params.reserve({{RoutingParamsCount}});

{{#RoutingParamMatchers}}
{{#IsSimple}}
{{#SimpleFields}}
{{#IsFirst}}
  if (!request.{{FieldName}}().empty()) {
{{/IsFirst}}
{{^IsFirst}}
  } else if (!request.{{FieldName}}().empty()) {
{{/IsFirst}}
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/SimpleFields}}
  }

{{/IsSimple}}
{{^IsSimple}}
  static auto* {{MatcherName}}_matcher = []{
    return new google::cloud::internal::RoutingMatcher<{{{CppRequestType}}}>{
      "{{ParamKey}}=", {
      {{#Patterns}}
      {[]({{{CppRequestType}}} const& request) -> std::string const& {
        return request.{{FieldAccessor}}();
      },
      {{#HasRegex}}
      std::regex{"{{Pattern}}", std::regex::optimize}},
      {{/HasRegex}}
      {{^HasRegex}}
      absl::nullopt},
      {{/HasRegex}}
      {{/Patterns}}
      }};
  }();
  {{MatcherName}}_matcher->AppendParam(request, params);

{{/IsSimple}}
{{/RoutingParamMatchers}}
  if (params.empty()) {
    SetMetadata(context, options);
  } else {
    SetMetadata(context, options, absl::StrJoin(params, "&"));
  }
{{/HasRouting}}
{{^HasRouting}}
{{#HasHttpRouting}}
  SetMetadata(context, options, absl::StrCat({{#HttpRoutingParams}}"{{Key}}=", internal::UrlEncode(request.{{FieldAccessor}}){{#HasNext}}, {{/HasNext}}{{/HttpRoutingParams}}));
{{/HasHttpRouting}}
{{^HasHttpRouting}}
  SetMetadata(context, options);
{{/HasHttpRouting}}
{{/HasRouting}}
  return child_->{{Name}}(context, options, request);
}

{{/IsPaginated}}
{{/Codec.Methods}}
{{#Codec.StubAsyncMethods}}
{{#IsStreamingRead}}
std::unique_ptr<::google::cloud::internal::AsyncStreamingReadRpc<
      {{{CppResponseType}}}>>
{{Codec.MetadataDecoratorClassName}}::Async{{Name}}(
    google::cloud::CompletionQueue const& cq,
    std::shared_ptr<grpc::ClientContext> context,
    google::cloud::internal::ImmutableOptions options,
    {{{CppRequestType}}} const& request) {
  SetMetadata(*context, *options);
  return child_->Async{{Name}}(
      cq, std::move(context), std::move(options), request);
}

{{/IsStreamingRead}}
{{#IsStreamingWrite}}
std::unique_ptr<::google::cloud::internal::AsyncStreamingWriteRpc<
    {{{CppRequestType}}}, {{{CppResponseType}}}>>
{{Codec.MetadataDecoratorClassName}}::Async{{Name}}(
    google::cloud::CompletionQueue const& cq,
    std::shared_ptr<grpc::ClientContext> context,
    google::cloud::internal::ImmutableOptions options) {
  SetMetadata(*context, *options);
  return child_->Async{{Name}}(cq, std::move(context), std::move(options));
}

{{/IsStreamingWrite}}
{{#IsUnary}}
future<{{{CppReturnType}}}>
{{Codec.MetadataDecoratorClassName}}::Async{{Name}}(
      google::cloud::CompletionQueue& cq,
      std::shared_ptr<grpc::ClientContext> context,
      google::cloud::internal::ImmutableOptions options,
      {{{CppRequestType}}} const& request) {
{{#HasRouting}}
  std::vector<std::string> params;
  params.reserve({{RoutingParamsCount}});

{{#RoutingParamMatchers}}
{{#IsSimple}}
{{#SimpleFields}}
{{#IsFirst}}
  if (!request.{{FieldName}}().empty()) {
{{/IsFirst}}
{{^IsFirst}}
  } else if (!request.{{FieldName}}().empty()) {
{{/IsFirst}}
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/SimpleFields}}
  }

{{/IsSimple}}
{{^IsSimple}}
  static auto* {{MatcherName}}_matcher = []{
    return new google::cloud::internal::RoutingMatcher<{{{CppRequestType}}}>{
      "{{ParamKey}}=", {
      {{#Patterns}}
      {[]({{{CppRequestType}}} const& request) -> std::string const& {
        return request.{{FieldAccessor}}();
      },
      {{#HasRegex}}
      std::regex{"{{Pattern}}", std::regex::optimize}},
      {{/HasRegex}}
      {{^HasRegex}}
      absl::nullopt},
      {{/HasRegex}}
      {{/Patterns}}
      }};
  }();
  {{MatcherName}}_matcher->AppendParam(request, params);

{{/IsSimple}}
{{/RoutingParamMatchers}}
  if (params.empty()) {
    SetMetadata(*context, *options);
  } else {
    SetMetadata(*context, *options, absl::StrJoin(params, "&"));
  }
{{/HasRouting}}
{{^HasRouting}}
{{#HasHttpRouting}}
  SetMetadata(*context, *options, absl::StrCat({{#HttpRoutingParams}}"{{Key}}=", internal::UrlEncode(request.{{FieldAccessor}}){{#HasNext}}, {{/HasNext}}{{/HttpRoutingParams}}));
{{/HasHttpRouting}}
{{^HasHttpRouting}}
  SetMetadata(*context, *options);
{{/HasHttpRouting}}
{{/HasRouting}}
  return child_->Async{{Name}}(
      cq, std::move(context), std::move(options), request);
}

{{/IsUnary}}
{{/Codec.StubAsyncMethods}}
{{#Codec.HasLongrunningMethod}}
future<StatusOr<google::longrunning::Operation>>
{{Codec.MetadataDecoratorClassName}}::AsyncGetOperation(
    google::cloud::CompletionQueue& cq,
    std::shared_ptr<grpc::ClientContext> context,
    google::cloud::internal::ImmutableOptions options,
    google::longrunning::GetOperationRequest const& request) {
  SetMetadata(*context, *options,
              absl::StrCat("name=", internal::UrlEncode(request.name())));
  return child_->AsyncGetOperation(
      cq, std::move(context), std::move(options), request);
}

future<Status> {{Codec.MetadataDecoratorClassName}}::AsyncCancelOperation(
    google::cloud::CompletionQueue& cq,
    std::shared_ptr<grpc::ClientContext> context,
    google::cloud::internal::ImmutableOptions options,
    google::longrunning::CancelOperationRequest const& request) {
  SetMetadata(*context, *options,
              absl::StrCat("name=", internal::UrlEncode(request.name())));
  return child_->AsyncCancelOperation(
      cq, std::move(context), std::move(options), request);
}

{{/Codec.HasLongrunningMethod}}
void {{Codec.MetadataDecoratorClassName}}::SetMetadata(grpc::ClientContext& context,
                                        Options const& options,
                                        std::string const& request_params) {
  context.AddMetadata("x-goog-request-params", request_params);
  SetMetadata(context, options);
}

void {{Codec.MetadataDecoratorClassName}}::SetMetadata(grpc::ClientContext& context,
                                        Options const& options) {
  {{#Codec.HasApiVersion}}
  context.AddMetadata("x-goog-api-version", "{{Codec.ApiVersion}}");
  {{/Codec.HasApiVersion}}
  google::cloud::internal::SetMetadata(
      context, options, fixed_metadata_, api_client_header_);
}

GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_END
}  // namespace {{Codec.InternalNamespace}}
}  // namespace cloud
}  // namespace google
