{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{> /templates/partials/prologue}}
#include "{{Codec.RestMetadataDecoratorHeaderPath}}"
#include "absl/strings/str_format.h"
#include "google/cloud/internal/absl_str_cat_quiet.h"
#include "google/cloud/internal/api_client_header.h"
#include "google/cloud/internal/rest_set_metadata.h"
{{#Codec.HasExplicitRoutingMethod}}
#include "google/cloud/internal/routing_matcher.h"
{{/Codec.HasExplicitRoutingMethod}}
#include "google/cloud/status_or.h"
#include <memory>
#include <utility>

namespace google {
namespace cloud {
namespace {{Codec.InternalNamespace}} {
GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_BEGIN

{{Codec.RestMetadataDecoratorClassName}}::{{Codec.RestMetadataDecoratorClassName}}(
    std::shared_ptr<{{Codec.RestStubClassName}}> child,
    std::string api_client_header)
    : child_(std::move(child)),
      api_client_header_(
          api_client_header.empty()
              ? google::cloud::internal::GeneratedLibClientHeader()
              : std::move(api_client_header)) {}

{{#Codec.RestMethods}}
{{#IsLongrunning}}
future<StatusOr<google::longrunning::Operation>>
{{Codec.RestMetadataDecoratorClassName}}::Async{{Name}}(
    CompletionQueue& cq,
    std::unique_ptr<rest_internal::RestContext> rest_context,
    google::cloud::internal::ImmutableOptions options,
    {{{CppRequestType}}} const& request) {
{{#HasRouting}}
  std::vector<std::string> params;
  params.reserve({{RoutingParamsCount}});

{{#RoutingParamMatchers}}
{{#IsSimple}}
{{#SimpleFields}}
{{#IsFirst}}
  if (!request.{{FieldName}}().empty()) {
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/IsFirst}}
{{^IsFirst}}
  } else if (!request.{{FieldName}}().empty()) {
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/IsFirst}}
{{/SimpleFields}}
  }

{{/IsSimple}}
{{^IsSimple}}
  static auto* {{MatcherName}}_matcher = []{
    return new google::cloud::internal::RoutingMatcher<{{{CppRequestType}}}>{
      "{{ParamKey}}=", {
      {{#Patterns}}
      {[]({{{CppRequestType}}} const& request) -> std::string const& {
        return request.{{FieldAccessor}}();
      },
      std::regex{"{{Pattern}}", std::regex::optimize}},
      {{/Patterns}}
      }};
  }();
  {{MatcherName}}_matcher->AppendParam(request, params);

{{/IsSimple}}
{{/RoutingParamMatchers}}
  SetMetadata(*rest_context, *options, params);
{{/HasRouting}}
{{^HasRouting}}
  SetMetadata(*rest_context, *options);
{{/HasRouting}}
  return child_->Async{{Name}}(
      cq, std::move(rest_context), std::move(options), request);
}

StatusOr<google::longrunning::Operation>
{{Codec.RestMetadataDecoratorClassName}}::{{Name}}(
    rest_internal::RestContext& rest_context,
    Options const& options,
    {{{CppRequestType}}} const& request) {
{{#HasRouting}}
  std::vector<std::string> params;
  params.reserve({{RoutingParamsCount}});

{{#RoutingParamMatchers}}
{{#IsSimple}}
{{#SimpleFields}}
{{#IsFirst}}
  if (!request.{{FieldName}}().empty()) {
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/IsFirst}}
{{^IsFirst}}
  } else if (!request.{{FieldName}}().empty()) {
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/IsFirst}}
{{/SimpleFields}}
  }

{{/IsSimple}}
{{^IsSimple}}
  static auto* {{MatcherName}}_matcher = []{
    return new google::cloud::internal::RoutingMatcher<{{{CppRequestType}}}>{
      "{{ParamKey}}=", {
      {{#Patterns}}
      {[]({{{CppRequestType}}} const& request) -> std::string const& {
        return request.{{FieldAccessor}}();
      },
      std::regex{"{{Pattern}}", std::regex::optimize}},
      {{/Patterns}}
      }};
  }();
  {{MatcherName}}_matcher->AppendParam(request, params);

{{/IsSimple}}
{{/RoutingParamMatchers}}
  SetMetadata(rest_context, options, params);
{{/HasRouting}}
{{^HasRouting}}
  SetMetadata(rest_context, options);
{{/HasRouting}}
  return child_->{{Name}}(rest_context, options, request);
}

{{/IsLongrunning}}
{{^IsLongrunning}}
{{{CppReturnType}}}
{{Codec.RestMetadataDecoratorClassName}}::{{Name}}(
    rest_internal::RestContext& rest_context,
    Options const& options,
    {{{CppRequestType}}} const& request) {
{{#HasRouting}}
  std::vector<std::string> params;
  params.reserve({{RoutingParamsCount}});

{{#RoutingParamMatchers}}
{{#IsSimple}}
{{#SimpleFields}}
{{#IsFirst}}
  if (!request.{{FieldName}}().empty()) {
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/IsFirst}}
{{^IsFirst}}
  } else if (!request.{{FieldName}}().empty()) {
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/IsFirst}}
{{/SimpleFields}}
  }

{{/IsSimple}}
{{^IsSimple}}
  static auto* {{MatcherName}}_matcher = []{
    return new google::cloud::internal::RoutingMatcher<{{{CppRequestType}}}>{
      "{{ParamKey}}=", {
      {{#Patterns}}
      {[]({{{CppRequestType}}} const& request) -> std::string const& {
        return request.{{FieldAccessor}}();
      },
      std::regex{"{{Pattern}}", std::regex::optimize}},
      {{/Patterns}}
      }};
  }();
  {{MatcherName}}_matcher->AppendParam(request, params);

{{/IsSimple}}
{{/RoutingParamMatchers}}
  SetMetadata(rest_context, options, params);
{{/HasRouting}}
{{^HasRouting}}
  SetMetadata(rest_context, options);
{{/HasRouting}}
  return child_->{{Name}}(rest_context, options, request);
}

{{/IsLongrunning}}
{{/Codec.RestMethods}}
{{#Codec.RestAsyncMethods}}
future<{{{CppReturnType}}}>
{{Codec.RestMetadataDecoratorClassName}}::Async{{Name}}(
    CompletionQueue& cq,
    std::unique_ptr<rest_internal::RestContext> rest_context,
    google::cloud::internal::ImmutableOptions options,
    {{{CppRequestType}}} const& request) {
{{#HasRouting}}
  std::vector<std::string> params;
  params.reserve({{RoutingParamsCount}});

{{#RoutingParamMatchers}}
{{#IsSimple}}
{{#SimpleFields}}
{{#IsFirst}}
  if (!request.{{FieldName}}().empty()) {
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/IsFirst}}
{{^IsFirst}}
  } else if (!request.{{FieldName}}().empty()) {
    params.push_back(absl::StrCat("{{ParamKey}}=", internal::UrlEncode(request.{{FieldName}}())));
{{/IsFirst}}
{{/SimpleFields}}
  }

{{/IsSimple}}
{{^IsSimple}}
  static auto* {{MatcherName}}_matcher = []{
    return new google::cloud::internal::RoutingMatcher<{{{CppRequestType}}}>{
      "{{ParamKey}}=", {
      {{#Patterns}}
      {[]({{{CppRequestType}}} const& request) -> std::string const& {
        return request.{{FieldAccessor}}();
      },
      std::regex{"{{Pattern}}", std::regex::optimize}},
      {{/Patterns}}
      }};
  }();
  {{MatcherName}}_matcher->AppendParam(request, params);

{{/IsSimple}}
{{/RoutingParamMatchers}}
  SetMetadata(*rest_context, *options, params);
{{/HasRouting}}
{{^HasRouting}}
  SetMetadata(*rest_context, *options);
{{/HasRouting}}
  return child_->Async{{Name}}(
      cq, std::move(rest_context), std::move(options), request);
}

{{/Codec.RestAsyncMethods}}
{{#Codec.HasLongrunningMethod}}
future<StatusOr<google::longrunning::Operation>>
{{Codec.RestMetadataDecoratorClassName}}::AsyncGetOperation(
    google::cloud::CompletionQueue& cq,
    std::unique_ptr<rest_internal::RestContext> rest_context,
    google::cloud::internal::ImmutableOptions options,
    google::longrunning::GetOperationRequest const& request) {
  SetMetadata(*rest_context, *options);
  return child_->AsyncGetOperation(
      cq, std::move(rest_context), std::move(options), request);
}

future<Status>
{{Codec.RestMetadataDecoratorClassName}}::AsyncCancelOperation(
    google::cloud::CompletionQueue& cq,
    std::unique_ptr<rest_internal::RestContext> rest_context,
    google::cloud::internal::ImmutableOptions options,
    google::longrunning::CancelOperationRequest const& request) {
  SetMetadata(*rest_context, *options);
  return child_->AsyncCancelOperation(
      cq, std::move(rest_context), std::move(options), request);
}

{{/Codec.HasLongrunningMethod}}
void {{Codec.RestMetadataDecoratorClassName}}::SetMetadata(
      rest_internal::RestContext& rest_context,
      Options const& options, std::vector<std::string> const& params) {
  {{#Codec.HasApiVersion}}
  rest_context.AddHeader("x-goog-api-version", "{{Codec.ApiVersion}}");
  {{/Codec.HasApiVersion}}
  google::cloud::rest_internal::SetMetadata(
      rest_context, options, params, api_client_header_);
}

GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_END
}  // namespace {{Codec.InternalNamespace}}
}  // namespace cloud
}  // namespace google
