{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{> /templates/partials/prologue}}
#ifndef {{Codec.RestConnectionImplHeaderIncludeGuard}}
#define {{Codec.RestConnectionImplHeaderIncludeGuard}}

#include "{{Codec.ConnectionHeaderPath}}"
#include "{{Codec.IdempotencyPolicyHeaderPath}}"
#include "{{Codec.OptionsHeaderPath}}"
#include "{{Codec.RestStubHeaderPath}}"
#include "{{Codec.RetryTraitsHeaderPath}}"
#include "google/cloud/background_threads.h"
#include "google/cloud/backoff_policy.h"
#include "google/cloud/options.h"
#include "google/cloud/status_or.h"
{{#Codec.HasStreamRange}}
#include "google/cloud/stream_range.h"
{{/Codec.HasStreamRange}}
#include "google/cloud/version.h"
{{#Codec.HasLongrunningMethod}}
#include <google/longrunning/operations.pb.h>
{{/Codec.HasLongrunningMethod}}
#include <memory>

namespace google {
namespace cloud {
namespace {{Codec.InternalNamespace}} {
GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_BEGIN

class {{Codec.RestConnectionImplClassName}}
    : public {{Codec.Namespace}}::{{Codec.ConnectionClassName}} {
 public:
  ~{{Codec.RestConnectionImplClassName}}() override = default;

  {{Codec.RestConnectionImplClassName}}(
    std::unique_ptr<google::cloud::BackgroundThreads> background,
    std::shared_ptr<{{Codec.InternalNamespace}}::{{Codec.RestStubClassName}}> stub,
    Options options);

  Options options() override { return options_; }

{{#Codec.RestMethods}}
{{#IsUnary}}
  {{{CppReturnType}}}
  {{Name}}({{{CppRequestType}}} const& request) override;

{{/IsUnary}}
{{#IsPaginated}}
  StreamRange<{{{RangeOutputType}}}>
  {{Name}}({{{CppRequestType}}} request) override;

{{/IsPaginated}}
{{#IsLongrunning}}
  future<{{{CppReturnType}}}>
  {{Name}}({{{CppRequestType}}} const& request) override;

  StatusOr<{{{LongrunningOperationType}}}>
  {{Name}}(NoAwaitTag,
      {{{CppRequestType}}} const& request) override;

  future<{{{CppReturnType}}}>
  {{Name}}(
      {{{LongrunningOperationType}}} const& operation) override;

{{/IsLongrunning}}
{{/Codec.RestMethods}}
{{#Codec.RestAsyncMethods}}
  future<{{{CppReturnType}}}>
  Async{{Name}}({{{CppRequestType}}} const& request) override;

{{/Codec.RestAsyncMethods}}
 private:
  static std::unique_ptr<{{Codec.Namespace}}::{{Codec.RetryPolicyName}}>
  retry_policy(Options const& options) {
    return options.get<{{Codec.Namespace}}::{{Codec.RetryPolicyOptionName}}>()->clone();
  }

  static std::unique_ptr<BackoffPolicy> backoff_policy(Options const& options) {
    return options.get<{{Codec.Namespace}}::{{Codec.BackoffPolicyOptionName}}>()->clone();
  }

  static std::unique_ptr<{{Codec.Namespace}}::{{Codec.ConnectionIdempotencyPolicyClassName}}>
  idempotency_policy(Options const& options) {
    return options.get<{{Codec.Namespace}}::{{Codec.ConnectionIdempotencyPolicyOptionName}}>()->clone();
  }

{{#Codec.HasLongrunningMethod}}
  static std::unique_ptr<PollingPolicy> polling_policy(Options const& options) {
    return options.get<{{Codec.Namespace}}::{{Codec.PollingPolicyOptionName}}>()->clone();
  }

{{/Codec.HasLongrunningMethod}}
  std::unique_ptr<google::cloud::BackgroundThreads> background_;
  std::shared_ptr<{{Codec.InternalNamespace}}::{{Codec.RestStubClassName}}> stub_;
  Options options_;
};

GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_END
}  // namespace {{Codec.InternalNamespace}}
}  // namespace cloud
}  // namespace google

#endif  // {{Codec.RestConnectionImplHeaderIncludeGuard}}
