{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{> /templates/partials/prologue}}
#include "{{Codec.StubHeaderPath}}"
#include "google/cloud/grpc_error_delegate.h"
{{#Codec.HasBidirStreamingMethod}}
#include "google/cloud/internal/async_read_write_stream_impl.h"
{{/Codec.HasBidirStreamingMethod}}
{{#Codec.HasAsyncStreamingReadMethod}}
#include "google/cloud/internal/async_streaming_read_rpc_impl.h"
{{/Codec.HasAsyncStreamingReadMethod}}
{{#Codec.HasAsyncStreamingWriteMethod}}
#include "google/cloud/internal/async_streaming_write_rpc_impl.h"
{{/Codec.HasAsyncStreamingWriteMethod}}
{{#Codec.HasStreamingWriteMethod}}
#include "google/cloud/internal/streaming_write_rpc_impl.h"
{{/Codec.HasStreamingWriteMethod}}
#include "google/cloud/status_or.h"
{{#Codec.ProtoGrpcHeaderPath}}
#include <{{Codec.ProtoGrpcHeaderPath}}>
{{/Codec.ProtoGrpcHeaderPath}}
{{#Codec.HasLongrunningMethod}}
#include <google/longrunning/operations.grpc.pb.h>
{{/Codec.HasLongrunningMethod}}
#include <memory>
#include <utility>

namespace google {
namespace cloud {
namespace {{Codec.InternalNamespace}} {
GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_BEGIN

{{Codec.StubClassName}}::~{{Codec.StubClassName}}() = default;

{{#Codec.Methods}}
{{#IsLongrunning}}
future<StatusOr<google::longrunning::Operation>>
{{Codec.DefaultStubClassName}}::Async{{Name}}(
      google::cloud::CompletionQueue& cq,
      std::shared_ptr<grpc::ClientContext> context,
      google::cloud::internal::ImmutableOptions,
      {{{CppRequestType}}} const& request) {
  return internal::MakeUnaryRpcImpl<{{{CppRequestType}}},
                                    google::longrunning::Operation>(
      cq,
      [this](grpc::ClientContext* context,
             {{{CppRequestType}}} const& request,
             grpc::CompletionQueue* cq) {
        return {{StubMemberName}}->Async{{Name}}(context, request, cq);
      },
      request, std::move(context));
}

StatusOr<google::longrunning::Operation>
{{Codec.DefaultStubClassName}}::{{Name}}(
      grpc::ClientContext& context,
      Options,
      {{{CppRequestType}}} const& request) {
    google::longrunning::Operation response;
    auto status =
        {{StubMemberName}}->{{Name}}(&context, request, &response);
    if (!status.ok()) {
      return google::cloud::MakeStatusFromRpcError(status);
    }
    return response;
}

{{/IsLongrunning}}
{{#IsBidirStreaming}}
std::unique_ptr<::google::cloud::AsyncStreamingReadWriteRpc<
    {{{CppRequestType}}},
    {{{CppResponseType}}}>>
{{Codec.DefaultStubClassName}}::Async{{Name}}(
    google::cloud::CompletionQueue const& cq,
    std::shared_ptr<grpc::ClientContext> context,
    google::cloud::internal::ImmutableOptions options) {
  return google::cloud::internal::MakeStreamingReadWriteRpc<{{{CppRequestType}}}, {{{CppResponseType}}}>(
      cq, std::move(context), std::move(options),
      [this](grpc::ClientContext* context, grpc::CompletionQueue* cq) {
        return {{StubMemberName}}->PrepareAsync{{Name}}(context, cq);
      });
}

{{/IsBidirStreaming}}
{{#IsStreamingRead}}
std::unique_ptr<google::cloud::internal::StreamingReadRpc<{{{CppResponseType}}}>>
{{Codec.DefaultStubClassName}}::{{Name}}(
    std::shared_ptr<grpc::ClientContext> context,
    Options const&,
    {{{CppRequestType}}} const& request) {
  auto stream = {{StubMemberName}}->{{Name}}(context.get(), request);
  return std::make_unique<google::cloud::internal::StreamingReadRpcImpl<
      {{{CppResponseType}}}>>(
      std::move(context), std::move(stream));
}

{{/IsStreamingRead}}
{{#IsStreamingWrite}}
std::unique_ptr<::google::cloud::internal::StreamingWriteRpc<
    {{{CppRequestType}}},
    {{{CppResponseType}}}>>
{{Codec.DefaultStubClassName}}::{{Name}}(
    std::shared_ptr<grpc::ClientContext> context,
    Options const&) {
  auto response = std::make_unique<{{{CppResponseType}}}>();
  auto stream = {{StubMemberName}}->{{Name}}(context.get(), response.get());
  return std::make_unique<::google::cloud::internal::StreamingWriteRpcImpl<
      {{{CppRequestType}}}, {{{CppResponseType}}}>>(
    std::move(context), std::move(response), std::move(stream));
}

{{/IsStreamingWrite}}
{{#IsUnary}}
{{{CppReturnType}}}
{{Codec.DefaultStubClassName}}::{{Name}}(
  grpc::ClientContext& context, Options const&,
  {{{CppRequestType}}} const& request) {
    {{{CppResponseType}}} response;
    auto status =
        {{StubMemberName}}->{{Name}}(&context, request, &response);
    if (!status.ok()) {
      return google::cloud::MakeStatusFromRpcError(status);
    }
{{#IsResponseTypeEmpty}}
    return google::cloud::Status();
{{/IsResponseTypeEmpty}}
{{^IsResponseTypeEmpty}}
    return response;
{{/IsResponseTypeEmpty}}
}

{{/IsUnary}}
{{#IsPaginated}}
{{{CppReturnType}}}
{{Codec.DefaultStubClassName}}::{{Name}}(
  grpc::ClientContext& context, Options const&,
  {{{CppRequestType}}} const& request) {
    {{{CppResponseType}}} response;
    auto status =
        {{StubMemberName}}->{{Name}}(&context, request, &response);
    if (!status.ok()) {
      return google::cloud::MakeStatusFromRpcError(status);
    }
    return response;
}

{{/IsPaginated}}
{{/Codec.Methods}}
{{#Codec.StubAsyncMethods}}
{{#IsStreamingRead}}
std::unique_ptr<::google::cloud::internal::AsyncStreamingReadRpc<
    {{{CppResponseType}}}>>
{{Codec.DefaultStubClassName}}::Async{{Name}}(
    google::cloud::CompletionQueue const& cq,
    std::shared_ptr<grpc::ClientContext> context,
    google::cloud::internal::ImmutableOptions options,
    {{{CppRequestType}}} const& request) {
  return google::cloud::internal::MakeStreamingReadRpc<{{{CppRequestType}}}, {{{CppResponseType}}}>(
    cq, std::move(context), std::move(options), request,
    [this](grpc::ClientContext* context, {{{CppRequestType}}} const& request, grpc::CompletionQueue* cq) {
      return {{StubMemberName}}->PrepareAsync{{Name}}(context, request, cq);
    });
}

{{/IsStreamingRead}}
{{#IsStreamingWrite}}
std::unique_ptr<::google::cloud::internal::AsyncStreamingWriteRpc<
    {{{CppRequestType}}}, {{{CppResponseType}}}>>
{{Codec.DefaultStubClassName}}::Async{{Name}}(
    google::cloud::CompletionQueue const& cq,
    std::shared_ptr<grpc::ClientContext> context,
    google::cloud::internal::ImmutableOptions options) {
  return google::cloud::internal::MakeStreamingWriteRpc<{{{CppRequestType}}}, {{{CppResponseType}}}>(
    cq, std::move(context), std::move(options),
    [this](grpc::ClientContext* context, {{{CppResponseType}}}* response, grpc::CompletionQueue* cq) {
      return {{StubMemberName}}->PrepareAsync{{Name}}(context, response, cq);
    });
}

{{/IsStreamingWrite}}
{{#IsUnary}}
{{#IsResponseTypeEmpty}}
future<Status>
{{Codec.DefaultStubClassName}}::Async{{Name}}(
    google::cloud::CompletionQueue& cq,
    std::shared_ptr<grpc::ClientContext> context,
    // NOLINTNEXTLINE(performance-unnecessary-value-param)
    google::cloud::internal::ImmutableOptions,
    {{{CppRequestType}}} const& request) {
  return internal::MakeUnaryRpcImpl<{{{CppRequestType}}},
                                    {{{CppResponseType}}}>(
      cq,
      [this](grpc::ClientContext* context,
             {{{CppRequestType}}} const& request,
             grpc::CompletionQueue* cq) {
        return {{StubMemberName}}->Async{{Name}}(context, request, cq);
      },
      request, std::move(context))
          .then([](future<StatusOr<google::protobuf::Empty>> f) {
            return f.get().status();
          });
}

{{/IsResponseTypeEmpty}}
{{^IsResponseTypeEmpty}}
future<{{{CppReturnType}}}>
{{Codec.DefaultStubClassName}}::Async{{Name}}(
    google::cloud::CompletionQueue& cq,
    std::shared_ptr<grpc::ClientContext> context,
    // NOLINTNEXTLINE(performance-unnecessary-value-param)
    google::cloud::internal::ImmutableOptions,
    {{{CppRequestType}}} const& request) {
  return internal::MakeUnaryRpcImpl<{{{CppRequestType}}},
                                    {{{CppResponseType}}}>(
      cq,
      [this](grpc::ClientContext* context,
             {{{CppRequestType}}} const& request,
             grpc::CompletionQueue* cq) {
        return {{StubMemberName}}->Async{{Name}}(context, request, cq);
      },
      request, std::move(context));
}

{{/IsResponseTypeEmpty}}
{{/IsUnary}}
{{/Codec.StubAsyncMethods}}
{{#Codec.HasLongrunningMethod}}
future<StatusOr<google::longrunning::Operation>>
{{Codec.DefaultStubClassName}}::AsyncGetOperation(
    google::cloud::CompletionQueue& cq,
    std::shared_ptr<grpc::ClientContext> context,
    // NOLINTNEXTLINE(performance-unnecessary-value-param)
    google::cloud::internal::ImmutableOptions,
    google::longrunning::GetOperationRequest const& request) {
  return internal::MakeUnaryRpcImpl<google::longrunning::GetOperationRequest,
                                    google::longrunning::Operation>(
      cq,
      [this](grpc::ClientContext* context,
             google::longrunning::GetOperationRequest const& request,
             grpc::CompletionQueue* cq) {
        return operations_stub_->AsyncGetOperation(context, request, cq);
      },
      request, std::move(context));
}

future<Status> {{Codec.DefaultStubClassName}}::AsyncCancelOperation(
    google::cloud::CompletionQueue& cq,
    std::shared_ptr<grpc::ClientContext> context,
    // NOLINTNEXTLINE(performance-unnecessary-value-param)
    google::cloud::internal::ImmutableOptions,
    google::longrunning::CancelOperationRequest const& request) {
  return internal::MakeUnaryRpcImpl<google::longrunning::CancelOperationRequest,
                                    google::protobuf::Empty>(
      cq,
      [this](grpc::ClientContext* context,
             google::longrunning::CancelOperationRequest const& request,
             grpc::CompletionQueue* cq) {
        return operations_stub_->AsyncCancelOperation(context, request, cq);
      },
      request, std::move(context))
      .then([](future<StatusOr<google::protobuf::Empty>> f) {
        return f.get().status();
      });
}

{{/Codec.HasLongrunningMethod}}
GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_END
}  // namespace {{Codec.InternalNamespace}}
}  // namespace cloud
}  // namespace google
