{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{> /templates/partials/prologue}}
#include "{{Codec.TracingStubHeaderPath}}"
{{#Codec.HasBidirStreamingMethod}}
#include "google/cloud/internal/async_read_write_stream_tracing.h"
{{/Codec.HasBidirStreamingMethod}}
{{#Codec.HasAsyncStreamingReadMethod}}
#include "google/cloud/internal/async_streaming_read_rpc_tracing.h"
{{/Codec.HasAsyncStreamingReadMethod}}
{{#Codec.HasAsyncStreamingWriteMethod}}
#include "google/cloud/internal/async_streaming_write_rpc_tracing.h"
{{/Codec.HasAsyncStreamingWriteMethod}}
#include "google/cloud/internal/grpc_opentelemetry.h"
{{#Codec.HasStreamingReadMethod}}
#include "google/cloud/internal/streaming_read_rpc_tracing.h"
{{/Codec.HasStreamingReadMethod}}
{{#Codec.HasStreamingWriteMethod}}
#include "google/cloud/internal/streaming_write_rpc_tracing.h"
{{/Codec.HasStreamingWriteMethod}}
#include <memory>
#include <utility>

namespace google {
namespace cloud {
namespace {{Codec.InternalNamespace}} {
GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_BEGIN

#ifdef GOOGLE_CLOUD_CPP_HAVE_OPENTELEMETRY

{{Codec.TracingStubClassName}}::{{Codec.TracingStubClassName}}(
    std::shared_ptr<{{Codec.StubClassName}}> child)
    : child_(std::move(child)), propagator_(internal::MakePropagator()) {}

{{#Codec.Methods}}
{{#IsLongrunning}}
future<StatusOr<google::longrunning::Operation>>
{{Codec.TracingStubClassName}}::Async{{Name}}(
      google::cloud::CompletionQueue& cq,
      std::shared_ptr<grpc::ClientContext> context,
      google::cloud::internal::ImmutableOptions options,
      {{{CppRequestType}}} const& request) {
  auto span = internal::MakeSpanGrpc("{{Codec.ServiceGrpcProtoName}}", "{{Name}}");
{{#HasRequestId}}
  span->SetAttribute("gl-cpp.request_id", request.{{RequestIdFieldName}}());
{{/HasRequestId}}
  internal::OTelScope scope(span);
  internal::InjectTraceContext(*context, *propagator_);
  auto f = child_->Async{{Name}}(cq, context, std::move(options), request);
  return internal::EndSpan(std::move(context), std::move(span), std::move(f));
}

StatusOr<google::longrunning::Operation>
{{Codec.TracingStubClassName}}::{{Name}}(
      grpc::ClientContext& context,
      Options options,
      {{{CppRequestType}}} const& request) {
  auto span = internal::MakeSpanGrpc("{{Codec.ServiceGrpcProtoName}}", "{{Name}}");
{{#HasRequestId}}
  span->SetAttribute("gl-cpp.request_id", request.{{RequestIdFieldName}}());
{{/HasRequestId}}
  auto scope = opentelemetry::trace::Scope(span);
  internal::InjectTraceContext(context, *propagator_);
  return internal::EndSpan(context, *span,
                           child_->{{Name}}(context, options, request));
}

{{/IsLongrunning}}
{{#IsBidirStreaming}}
std::unique_ptr<::google::cloud::AsyncStreamingReadWriteRpc<
    {{{CppRequestType}}},
    {{{CppResponseType}}}>>
{{Codec.TracingStubClassName}}::AsyncStreamingReadWrite(
    google::cloud::CompletionQueue const& cq,
    std::shared_ptr<grpc::ClientContext> context,
    google::cloud::internal::ImmutableOptions options) {
  auto span = internal::MakeSpanGrpc("{{Codec.ServiceGrpcProtoName}}", "{{Name}}");
  internal::OTelScope scope(span);
  internal::InjectTraceContext(*context, *propagator_);
  auto stream = child_->AsyncStreamingReadWrite(cq, context, std::move(options));
  return std::make_unique<internal::AsyncStreamingReadWriteRpcTracing<
      {{{CppRequestType}}},
      {{{CppResponseType}}}>>(
      std::move(context), std::move(stream), std::move(span));
}

{{/IsBidirStreaming}}
{{#IsStreamingRead}}
std::unique_ptr<google::cloud::internal::StreamingReadRpc<{{{CppResponseType}}}>>
{{Codec.TracingStubClassName}}::{{Name}}(
    std::shared_ptr<grpc::ClientContext> context,
    Options const& options,
    {{{CppRequestType}}} const& request) {
  auto span = internal::MakeSpanGrpc("{{Codec.ServiceGrpcProtoName}}", "{{Name}}");
  auto scope = opentelemetry::trace::Scope(span);
  internal::InjectTraceContext(*context, *propagator_);
  auto stream = child_->{{Name}}(context, options, request);
  return std::make_unique<internal::StreamingReadRpcTracing<{{{CppResponseType}}}>>(
      std::move(context), std::move(stream), std::move(span));
}

{{/IsStreamingRead}}
{{#IsStreamingWrite}}
std::unique_ptr<::google::cloud::internal::StreamingWriteRpc<
    {{{CppRequestType}}},
    {{{CppResponseType}}}>>
{{Codec.TracingStubClassName}}::{{Name}}(
    std::shared_ptr<grpc::ClientContext> context,
    Options const& options) {
  auto span = internal::MakeSpanGrpc("{{Codec.ServiceGrpcProtoName}}", "{{Name}}");
  auto scope = opentelemetry::trace::Scope(span);
  internal::InjectTraceContext(*context, *propagator_);
  auto stream = child_->{{Name}}(context, options);
  return std::make_unique<internal::StreamingWriteRpcTracing<
      {{{CppRequestType}}},
      {{{CppResponseType}}}>>(
      std::move(context), std::move(stream), std::move(span));
}

{{/IsStreamingWrite}}
{{#IsUnary}}
{{{CppReturnType}}} {{Codec.TracingStubClassName}}::{{Name}}(
    grpc::ClientContext& context,
    Options const& options,
    {{{CppRequestType}}} const& request) {
  auto span = internal::MakeSpanGrpc("{{Codec.ServiceGrpcProtoName}}", "{{Name}}");
{{#HasRequestId}}
  span->SetAttribute("gl-cpp.request_id", request.{{RequestIdFieldName}}());
{{/HasRequestId}}
  auto scope = opentelemetry::trace::Scope(span);
  internal::InjectTraceContext(context, *propagator_);
  return internal::EndSpan(context, *span,
                           child_->{{Name}}(context, options, request));
}

{{/IsUnary}}
{{#IsPaginated}}
{{{CppReturnType}}} {{Codec.TracingStubClassName}}::{{Name}}(
    grpc::ClientContext& context,
    Options const& options,
    {{{CppRequestType}}} const& request) {
  auto span = internal::MakeSpanGrpc("{{Codec.ServiceGrpcProtoName}}", "{{Name}}");
{{#HasRequestId}}
  span->SetAttribute("gl-cpp.request_id", request.{{RequestIdFieldName}}());
{{/HasRequestId}}
  auto scope = opentelemetry::trace::Scope(span);
  internal::InjectTraceContext(context, *propagator_);
  return internal::EndSpan(context, *span,
                           child_->{{Name}}(context, options, request));
}

{{/IsPaginated}}
{{/Codec.Methods}}
{{#Codec.AsyncMethods}}
future<{{{CppReturnType}}}>
{{Codec.TracingStubClassName}}::Async{{Name}}(
      google::cloud::CompletionQueue& cq,
      std::shared_ptr<grpc::ClientContext> context,
      google::cloud::internal::ImmutableOptions options,
      {{{CppRequestType}}} const& request) {
  auto span = internal::MakeSpanGrpc("{{Codec.ServiceGrpcProtoName}}", "{{Name}}");
{{#HasRequestId}}
  span->SetAttribute("gl-cpp.request_id", request.{{RequestIdFieldName}}());
{{/HasRequestId}}
  internal::OTelScope scope(span);
  internal::InjectTraceContext(*context, *propagator_);
  auto f = child_->Async{{Name}}(cq, context, std::move(options), request);
  return internal::EndSpan(std::move(context), std::move(span), std::move(f));
}

{{/Codec.AsyncMethods}}
{{#Codec.HasLongrunningMethod}}
future<StatusOr<google::longrunning::Operation>>
{{Codec.TracingStubClassName}}::AsyncGetOperation(
    google::cloud::CompletionQueue& cq,
    std::shared_ptr<grpc::ClientContext> context,
    google::cloud::internal::ImmutableOptions options,
    google::longrunning::GetOperationRequest const& request) {
  auto span =
      internal::MakeSpanGrpc("google.longrunning.Operations", "GetOperation");
  internal::OTelScope scope(span);
  internal::InjectTraceContext(*context, *propagator_);
  auto f = child_->AsyncGetOperation(
      cq, context, std::move(options), request);
  return internal::EndSpan(std::move(context), std::move(span), std::move(f));
}

future<Status> {{Codec.TracingStubClassName}}::AsyncCancelOperation(
    google::cloud::CompletionQueue& cq,
    std::shared_ptr<grpc::ClientContext> context,
    google::cloud::internal::ImmutableOptions options,
    google::longrunning::CancelOperationRequest const& request) {
  auto span = internal::MakeSpanGrpc("google.longrunning.Operations",
                                     "CancelOperation");
  internal::OTelScope scope(span);
  internal::InjectTraceContext(*context, *propagator_);
  auto f = child_->AsyncCancelOperation(
      cq, context, std::move(options), request);
  return internal::EndSpan(std::move(context), std::move(span), std::move(f));
}

{{/Codec.HasLongrunningMethod}}
#endif  // GOOGLE_CLOUD_CPP_HAVE_OPENTELEMETRY

std::shared_ptr<{{Codec.StubClassName}}> Make{{Codec.TracingStubClassName}}(
    std::shared_ptr<{{Codec.StubClassName}}> stub) {
#ifdef GOOGLE_CLOUD_CPP_HAVE_OPENTELEMETRY
  return std::make_shared<{{Codec.TracingStubClassName}}>(std::move(stub));
#else
  return stub;
#endif  // GOOGLE_CLOUD_CPP_HAVE_OPENTELEMETRY
}

GOOGLE_CLOUD_CPP_INLINE_NAMESPACE_END
}  // namespace {{Codec.InternalNamespace}}
}  // namespace cloud
}  // namespace google
