    class {{BaseClassName}}:
        def __hash__(self):  # pragma: NO COVER
            return NotImplementedError("__hash__ must be implemented.")

        __REQUIRED_FIELDS_DEFAULT_VALUES: Dict[str, Any] =  {
{{#RequiredFieldsDefaultValues}}
{{#Last}}
            "{{Key}}" : {{{Value}}},        }
{{/Last}}
{{^Last}}
            "{{Key}}" : {{{Value}}},
{{/Last}}
{{/RequiredFieldsDefaultValues}}
{{^HasRequiredFields}}
        }
{{/HasRequiredFields}}

        @staticmethod
        def _get_http_options():
            http_options: List[Dict[str, str]] = [
{{#HTTPOptions}}
                {
                    'method': '{{Method}}',
                    'uri': '{{URI}}',
{{#HasBody}}
                    'body': '{{Body}}',
{{/HasBody}}
                },
{{/HTTPOptions}}
            ]
            return http_options
