{{/*
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}
{{/*
Generates a fake for a service class like:

```dart
/// Testing fake for [Echo].
base class FakeEcho implements Echo {
  final Future<EchoResponse> Function(EchoRequest request)? _echo;
  @override
  Uri get _endPoint => throw UnsupportedError('_endPoint');
  @override
  ServiceClient get _client => throw UnsupportedError('_client');

  bool isClosed = false;

  FakeEcho({
    Future<EchoResponse> Function(EchoRequest request)? echo,
  }) : _echo = echo;

  /// This method simply echoes the request. This method showcases unary RPCs.
  ///
  /// Throws a [http.ClientException] if there were problems communicating with
  /// the API service. Throws a [ServiceException] if the API method failed for
  /// any reason.
  @override
  Future<EchoResponse> echo(EchoRequest request) async {
    if (isClosed) {
      throw StateError('Service is closed');
    }

    if (_echo case final echo?) {
      return echo(request);
    }
    throw UnsupportedError('echo');
  }
}
```
*/}}
/// Testing fake for [{{ .Codec.Name }}].
base class Fake{{ .Codec.Name }} implements {{ .Codec.Name }} {
  {{- range .Codec.Methods }}
  final
  {{- if .Codec.ServerSideStreaming }} Stream<{{ .Codec.ResponseType }}> Function({{ .Codec.RequestType }} request)
  {{- else if .Codec.IsLROGetOperation }} Future<Operation<T, S>> Function<T extends {{ .Model.Codec.ProtoPrefix }}ProtoMessage, S extends {{ .Model.Codec.ProtoPrefix }}ProtoMessage>(Operation<T, S> request)
  {{- else }} Future<{{ .Codec.ResponseType }}{{- if .OperationInfo }}<{{ .OperationInfo.Codec.ResponseType }}, {{ .OperationInfo.Codec.MetadataType }}>{{- end }}> Function({{ .Codec.RequestType }} request)
  {{- end }}?
  {{- if .Codec.IsLROGetOperation }} _getOperation
  {{- else }} _{{ .Codec.Name }}
  {{- end }};
  {{- end }}

  @override
  Uri get _endPoint => throw UnsupportedError('_endPoint');
  @override
  ServiceClient get _client => throw UnsupportedError('_client');

  bool isClosed = false;

  Fake{{ .Codec.Name }}({
    {{- range .Codec.Methods }}
    {{- if .Codec.ServerSideStreaming }}
    Stream<{{ .Codec.ResponseType }}> Function({{ .Codec.RequestType }} request)? {{ .Codec.Name }},
    {{- else if .Codec.IsLROGetOperation }}
    Future<Operation<T, S>> Function<T extends {{ .Model.Codec.ProtoPrefix }}ProtoMessage, S extends {{ .Model.Codec.ProtoPrefix }}ProtoMessage>(Operation<T, S> request)? getOperation,
    {{- else }}
    Future<{{ .Codec.ResponseType }}{{- if .OperationInfo }}<{{ .OperationInfo.Codec.ResponseType }}, {{ .OperationInfo.Codec.MetadataType }}>{{- end }}> Function({{ .Codec.RequestType }} request)? {{ .Codec.Name }},
    {{- end }}
    {{- end }}
  }){{- if .Codec.HasMethods }} : {{- end }}
  {{- range .Codec.Methods }}
  {{- if .Codec.IsLROGetOperation }} _getOperation = getOperation{{- else }} _{{ .Codec.Name }} = {{ .Codec.Name }}{{- end }}{{- if not .Codec.IsLast }},{{- end }}
  {{- end }};

  {{- range .Codec.Methods }}
  {{- "\n" }}
  {{- include "templates/lib/src/fake_method" . | indent 2 }}
  {{- end }}

  @override
  void close() {
    isClosed = true;
  }
}
