{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{#Codec.DocLines}}
/// {{{.}}}
{{/Codec.DocLines}}
public struct {{Codec.Name}}: Codable, Equatable, {{Codec.Model.WktPackage}}._AnyPackable,
  {{#Codec.IsPaginatedResponse}}
  GoogleCloudGax._PaginatedResponse,
  {{/Codec.IsPaginatedResponse}}
  Sendable {
  {{#Fields}}
  {{^IsOneOf}}

  {{#Codec.DocLines}}
  /// {{{.}}}
  {{/Codec.DocLines}}
  {{#Singular}}
  {{#Codec.Recursive}}
  public var {{Codec.Name}}: {{{Codec.FieldType}}} = nil
  {{/Codec.Recursive}}
  {{^Codec.Recursive}}
  {{^Optional}}
  public var {{Codec.Name}}: {{{Codec.FieldType}}} = {{{Codec.FieldType}}}()
  {{/Optional}}
  {{#Optional}}
  public var {{Codec.Name}}: {{{Codec.FieldType}}} = nil
  {{/Optional}}
  {{/Codec.Recursive}}
  {{/Singular}}
  {{#Repeated}}
  public var {{Codec.Name}}: {{{Codec.FieldType}}} = []
  {{/Repeated}}
  {{#Map}}
  public var {{Codec.Name}}: {{{Codec.FieldType}}} = [:]
  {{/Map}}
  {{/IsOneOf}}
  {{/Fields}}
  {{#OneOfs}}

  {{#Codec.DocLines}}
  /// {{{.}}}
  {{/Codec.DocLines}}
  public var {{Codec.PropertyName}}: {{Codec.Name}}? = nil
  {{/OneOfs}}

  /// Initialize a new instance of `{{Codec.Name}}`.
  public init() {}

  /// Use `config` to return a new instance of this object, with some fields updated.
  ///
  /// Commonly used to initialize the value, for example:
  ///
  /// ```
  /// let value = {{Codec.Name}}().with { $0.{{{Codec.SampleField}}} = ... }
  /// ```
  {{! Using `with` for the name does not conflict with field name: https://godbolt.org/z/bxbsdfhfo }}
  public func with(_ config: (inout Self) throws -> Swift.Void) rethrows -> Self {
    var copy = self
    try config(&copy)
    return copy
  }

  {{#Codec.CustomSerialization}}
  private enum CodingKeys: String, CodingKey {
    {{#Fields}}
    case {{Codec.Name}} = "{{JSONName}}"
    {{/Fields}}
  }

  public init(from decoder: Decoder) throws {
    let container = try decoder.container(keyedBy: CodingKeys.self)
    {{#Fields}}
    {{^IsOneOf}}
    {{#Singular}}
    {{#Optional}}
    self.{{Codec.Name}} = try container.decodeIfPresent({{{Codec.BaseFieldType}}}.self, forKey: .{{Codec.Name}})
    {{/Optional}}
    {{^Optional}}
    {{#Codec.Recursive}}
    self.{{Codec.Name}} = try container.decodeIfPresent({{{Codec.BaseFieldType}}}.self, forKey: .{{Codec.Name}})
    {{/Codec.Recursive}}
    {{^Codec.Recursive}}
    self.{{Codec.Name}} = try container.decode({{{Codec.FieldType}}}.self, forKey: .{{Codec.Name}})
    {{/Codec.Recursive}}
    {{/Optional}}
    {{/Singular}}
    {{#Repeated}}
    self.{{Codec.Name}} = try container.decode({{{Codec.FieldType}}}.self, forKey: .{{Codec.Name}})
    {{/Repeated}}
    {{#Map}}
    {{#Codec.IsStringKeyed}}
    self.{{Codec.Name}} = try container.decode({{{Codec.FieldType}}}.self, forKey: .{{Codec.Name}})
    {{/Codec.IsStringKeyed}}
    {{^Codec.IsStringKeyed}}
    self.{{Codec.Name}} = try { () throws in
      let stringKeyed = try container.decode([Swift.String : {{{Codec.ValueType}}}].self, forKey: .{{Codec.Name}})
      let tuples = try stringKeyed.lazy.map { (key, value) throws -> ({{{Codec.KeyType}}}, {{{Codec.ValueType}}}) in
        guard let newKey = {{{Codec.KeyType}}}(key) else {
          throw DecodingError.typeMismatch(
            {{{Codec.KeyType}}}.self, DecodingError.Context(codingPath: decoder.codingPath, debugDescription: "Incorrect type for map key '{{Codec.Name}}'"))
        }
        return (newKey, value)
      }
      return Dictionary(uniqueKeysWithValues: tuples)
    }()
    {{/Codec.IsStringKeyed}}
    {{/Map}}
    {{/IsOneOf}}
    {{/Fields}}
    {{#OneOfs}}

    var {{Codec.PropertyName}}: {{Codec.Name}}? = nil
    let {{Codec.Checker}} = {
      if {{Codec.PropertyName}} != nil {
        throw DecodingError.dataCorrupted(DecodingError.Context(codingPath: decoder.codingPath, debugDescription: "Multiple values set for oneof '{{Codec.PropertyName}}'"))
      }
      {{Codec.PropertyName}} = $0
    }
    {{#Fields}}
    if let {{Codec.Name}} = try container.decodeIfPresent({{{Codec.FieldType}}}.self, forKey: .{{Codec.Name}}) {
      try {{Codec.OneOfChecker}}(.{{Codec.Name}}({{Codec.Name}}))
    }
    {{/Fields}}
    self.{{Codec.PropertyName}} = {{Codec.PropertyName}}
    {{/OneOfs}}
  }

  public func encode(to encoder: Encoder) throws {
    var container = encoder.container(keyedBy: CodingKeys.self)
    {{#Fields}}
    {{^IsOneOf}}
    {{#Map}}
    {{#Codec.IsStringKeyed}}
    {{! string keys have easy encoding }}
    try container.encode(self.{{Codec.Name}}, forKey: .{{Codec.Name}})
    {{/Codec.IsStringKeyed}}
    {{^Codec.IsStringKeyed}}
    do {
      let stringKeyed = Dictionary(
        uniqueKeysWithValues: self.{{Codec.Name}}.lazy.map { (Swift.String($0), $1) }
      )
      try container.encode(stringKeyed, forKey: .{{Codec.Name}})
    }
    {{/Codec.IsStringKeyed}}
    {{/Map}}
    {{^Map}}
    {{! non-maps have easy encoding }}
    try container.encode(self.{{Codec.Name}}, forKey: .{{Codec.Name}})
    {{/Map}}
    {{/IsOneOf}}
    {{/Fields}}
    {{#OneOfs}}

    if let choice = self.{{Codec.PropertyName}} {
      switch choice {
      {{#Fields}}
      case .{{Codec.Name}}(let value):
        try container.encode(value, forKey: .{{Codec.Name}})
      {{/Fields}}
      }
    }
    {{/OneOfs}}
  }
  {{/Codec.CustomSerialization}}

  {{#Messages}}

  {{> /templates/common/message}}
  {{/Messages}}
  {{#Enums}}

  {{> /templates/common/enum}}
  {{/Enums}}
  {{#OneOfs}}

  {{> /templates/common/oneof}}
  {{/OneOfs}}

  public static var _anyTypeUrl: String { return "{{Codec.TypeURL}}" }
  public init(fromAny any: {{Codec.Model.WktPackage}}.`Any`) throws {
    self = try {{Codec.Model.WktPackage}}._slowAnyDeserialize(Self.self, from: any)
  }
  public func _pack() throws -> {{Codec.Model.WktPackage}}.Struct {
    return try {{Codec.Model.WktPackage}}._slowAnySerialize(message: self)
  }
  {{#Codec.IsPaginatedResponse}}

  public func _getPaginatedItems() -> [{{Codec.PageableItemType}}] {
    {{^Pagination.PageableItem.Map}}
    return self.{{Codec.PageableItemField}}
    {{/Pagination.PageableItem.Map}}
    {{#Pagination.PageableItem.Map}}
    return self.{{Codec.PageableItemField}}.map { ($0, $1) }
    {{/Pagination.PageableItem.Map}}
  }

  public func _nextPageToken() -> Swift.String {
    {{#Pagination.NextPageToken.Optional}}
    return self.{{Pagination.NextPageToken.Codec.Name}} ?? ""
    {{/Pagination.NextPageToken.Optional}}
    {{^Pagination.NextPageToken.Optional}}
    return self.{{Pagination.NextPageToken.Codec.Name}}
    {{/Pagination.NextPageToken.Optional}}
  }
  {{/Codec.IsPaginatedResponse}}
}
