{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{#Codec.Methods}}
{{#Signatures}}

{{{Comments}}}
{{#IsDeprecated}}
  GOOGLE_CLOUD_CPP_DEPRECATED("This RPC is deprecated.")
{{/IsDeprecated}}
{{#IsUnary}}
  {{{CppReturnType}}}
  {{Name}}({{#Parameters}}{{{Type}}} {{Name}}, {{/Parameters}}Options opts = {});
{{/IsUnary}}
{{#IsPaginated}}
  StreamRange<{{{RangeOutputType}}}>
  {{Name}}({{#Parameters}}{{{Type}}} {{Name}}, {{/Parameters}}Options opts = {});
{{/IsPaginated}}
{{#IsLongrunning}}
  future<{{{CppReturnType}}}>
  {{Name}}({{#Parameters}}{{{Type}}} {{Name}}, {{/Parameters}}Options opts = {});

{{{NoAwaitComments}}}
{{#IsDeprecated}}
  GOOGLE_CLOUD_CPP_DEPRECATED("This RPC is deprecated.")
{{/IsDeprecated}}
  StatusOr<{{{LongrunningOperationType}}}>
  {{Name}}(NoAwaitTag, {{#Parameters}}{{{Type}}} {{Name}}, {{/Parameters}}Options opts = {});
{{/IsLongrunning}}
{{#IsStreamingRead}}
  StreamRange<{{{CppResponseType}}}>
  {{Name}}({{#Parameters}}{{{Type}}} {{Name}}, {{/Parameters}}Options opts = {});
{{/IsStreamingRead}}
{{#HasIamUpdater}}

  /**
   * Updates the IAM policy for @p resource using an optimistic concurrency
   * control loop.
   *
   * The loop fetches the current policy for @p resource, and passes it to @p
   * updater, which should return the new policy. This new policy should use the
   * current etag so that the read-modify-write cycle can detect races and rerun
   * the update when there is a mismatch. If the new policy does not have an
   * etag, the existing policy will be blindly overwritten. If @p updater does
   * not yield a policy, the control loop is terminated and kCancelled is
   * returned.
   *
   * @param resource  Required. The resource for which the policy is being
   * specified. See the operation documentation for the appropriate value for
   * this field.
   * @param updater  Required. Functor to map the current policy to a new one.
   * @param opts  Optional. Override the class-level options, such as retry and
   *    backoff policies.
   * @return {{{CppResponseType}}}
   */
  StatusOr<{{{CppResponseType}}}>
  {{Name}}(std::string const& resource, IamUpdater const& updater, Options opts = {});
{{/HasIamUpdater}}
{{/Signatures}}
{{#IsUnary}}

{{{RequestComments}}}
{{#IsDeprecated}}
  GOOGLE_CLOUD_CPP_DEPRECATED("This RPC is deprecated.")
{{/IsDeprecated}}
  {{{CppReturnType}}}
  {{Name}}({{{CppRequestType}}} const& request, Options opts = {});
{{/IsUnary}}
{{#IsPaginated}}

{{{RequestComments}}}
{{#IsDeprecated}}
  GOOGLE_CLOUD_CPP_DEPRECATED("This RPC is deprecated.")
{{/IsDeprecated}}
  StreamRange<{{{RangeOutputType}}}>
  {{Name}}({{{CppRequestType}}} request, Options opts = {});
{{/IsPaginated}}
{{#IsLongrunning}}

{{{RequestComments}}}
{{#IsDeprecated}}
  GOOGLE_CLOUD_CPP_DEPRECATED("This RPC is deprecated.")
{{/IsDeprecated}}
  future<{{{CppReturnType}}}>
  {{Name}}({{{CppRequestType}}} const& request, Options opts = {});

{{{NoAwaitComments}}}
{{#IsDeprecated}}
  GOOGLE_CLOUD_CPP_DEPRECATED("This RPC is deprecated.")
{{/IsDeprecated}}
  StatusOr<{{{LongrunningOperationType}}}>
  {{Name}}(NoAwaitTag, {{{CppRequestType}}} const& request, Options opts = {});

{{{OperationComments}}}
{{#IsDeprecated}}
  GOOGLE_CLOUD_CPP_DEPRECATED("This RPC is deprecated.")
{{/IsDeprecated}}
  future<{{{CppReturnType}}}>
  {{Name}}({{{LongrunningOperationType}}} const& operation, Options opts = {});
{{/IsLongrunning}}
{{#IsStreamingRead}}

{{{RequestComments}}}
{{#IsDeprecated}}
  GOOGLE_CLOUD_CPP_DEPRECATED("This RPC is deprecated.")
{{/IsDeprecated}}
  StreamRange<{{{CppResponseType}}}>
  {{Name}}({{{CppRequestType}}} const& request, Options opts = {});
{{/IsStreamingRead}}
{{#IsBidirStreaming}}

{{{Comments}}}
{{#IsDeprecated}}
  GOOGLE_CLOUD_CPP_DEPRECATED("This RPC is deprecated.")
{{/IsDeprecated}}
  std::unique_ptr<::google::cloud::AsyncStreamingReadWriteRpc<
      {{{CppRequestType}}},
      {{{CppResponseType}}}>>
  Async{{Name}}(Options opts = {});
{{/IsBidirStreaming}}
{{/Codec.Methods}}
{{#Codec.AsyncMethods}}
{{#IsUnary}}
{{#Signatures}}

{{{Comments}}}
{{#IsDeprecated}}
  GOOGLE_CLOUD_CPP_DEPRECATED("This RPC is deprecated.")
{{/IsDeprecated}}
  future<{{{CppReturnType}}}>
  Async{{Name}}({{#Parameters}}{{{Type}}} {{Name}}, {{/Parameters}}Options opts = {});
{{/Signatures}}

{{{RequestComments}}}
{{#IsDeprecated}}
  GOOGLE_CLOUD_CPP_DEPRECATED("This RPC is deprecated.")
{{/IsDeprecated}}
  future<{{{CppReturnType}}}>
  Async{{Name}}({{{CppRequestType}}} const& request, Options opts = {});
{{/IsUnary}}
{{/Codec.AsyncMethods}}
