{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{#Codec.Methods}}
{{#IsUnary}}

  virtual {{{CppReturnType}}}
  {{Name}}({{{CppRequestType}}} const& request);
{{/IsUnary}}
{{#IsPaginated}}

  virtual StreamRange<{{{RangeOutputType}}}>
  {{Name}}({{{CppRequestType}}} request);
{{/IsPaginated}}
{{#IsLongrunning}}

  virtual future<{{{CppReturnType}}}>
  {{Name}}({{{CppRequestType}}} const& request);

  virtual StatusOr<{{{LongrunningOperationType}}}>
  {{Name}}(NoAwaitTag, {{{CppRequestType}}} const& request);

  virtual future<{{{CppReturnType}}}>
  {{Name}}( {{{LongrunningOperationType}}} const& operation);
{{/IsLongrunning}}
{{#IsStreamingRead}}

  virtual StreamRange<{{{CppResponseType}}}>
  {{Name}}({{{CppRequestType}}} const& request);
{{/IsStreamingRead}}
{{#IsBidirStreaming}}

  virtual std::unique_ptr<::google::cloud::AsyncStreamingReadWriteRpc<
      {{{CppRequestType}}},
      {{{CppResponseType}}}>>
  Async{{Name}}();
{{/IsBidirStreaming}}
{{/Codec.Methods}}
{{#Codec.AsyncMethods}}
{{#IsUnary}}

  virtual future<{{{CppReturnType}}}>
  Async{{Name}}({{{CppRequestType}}} const& request);
{{/IsUnary}}
{{/Codec.AsyncMethods}}
