{{> partials/prologue}}
from collections import OrderedDict
from typing import Dict, Type{{#Codec.Transport.RestAsyncIOEnabled}}, Tuple{{/Codec.Transport.RestAsyncIOEnabled}}

from .base import {{Name}}Transport
{{#Codec.HasGRPCTransport}}
from .grpc import {{Name}}GrpcTransport
from .grpc_asyncio import {{Name}}GrpcAsyncIOTransport
{{/Codec.HasGRPCTransport}}
{{#Codec.HasRESTTransport}}
from .rest import {{Name}}RestTransport
from .rest import {{Name}}RestInterceptor
{{/Codec.HasRESTTransport}}
{{#Codec.Transport.RestAsyncIOEnabled}}
ASYNC_REST_CLASSES: Tuple[str, ...]
try:
    from .rest_asyncio import Async{{Name}}RestTransport
    from .rest_asyncio import Async{{Name}}RestInterceptor
    ASYNC_REST_CLASSES = ('Async{{Name}}RestTransport', 'Async{{Name}}RestInterceptor')
    HAS_REST_ASYNC = True
except ImportError:  # pragma: NO COVER
    ASYNC_REST_CLASSES = ()
    HAS_REST_ASYNC = False
{{/Codec.Transport.RestAsyncIOEnabled}}


# Compile a registry of transports.
_transport_registry = OrderedDict()  # type: Dict[str, Type[{{Name}}Transport]]
{{#Codec.HasGRPCTransport}}
_transport_registry['grpc'] = {{Name}}GrpcTransport
_transport_registry['grpc_asyncio'] = {{Name}}GrpcAsyncIOTransport
{{/Codec.HasGRPCTransport}}
{{#Codec.HasRESTTransport}}
_transport_registry['rest'] = {{Name}}RestTransport
{{/Codec.HasRESTTransport}}
{{#Codec.Transport.RestAsyncIOEnabled}}
if HAS_REST_ASYNC:  # pragma: NO COVER
    _transport_registry['rest_asyncio'] = Async{{Name}}RestTransport
{{/Codec.Transport.RestAsyncIOEnabled}}

__all__ = (
    '{{Name}}Transport',
{{#Codec.HasGRPCTransport}}
    '{{Name}}GrpcTransport',
    '{{Name}}GrpcAsyncIOTransport',
{{/Codec.HasGRPCTransport}}
{{#Codec.HasRESTTransport}}
    '{{Name}}RestTransport',
    '{{Name}}RestInterceptor',
{{/Codec.HasRESTTransport}}
){{#Codec.Transport.RestAsyncIOEnabled}} + ASYNC_REST_CLASSES{{/Codec.Transport.RestAsyncIOEnabled}}
