
transport inheritance structure
_______________________________

``{{Codec.Name}}Transport`` is the ABC for all transports.

- public child ``{{Codec.Name}}GrpcTransport`` for sync gRPC transport (defined in ``grpc.py``).
- public child ``{{Codec.Name}}GrpcAsyncIOTransport`` for async gRPC transport (defined in ``grpc_asyncio.py``).
- private child ``_Base{{Codec.Name}}RestTransport`` for base REST transport with inner classes ``_BaseMETHOD`` (defined in ``rest_base.py``).
- public child ``{{Codec.Name}}RestTransport`` for sync REST transport with inner classes ``METHOD`` derived from the parent's corresponding ``_BaseMETHOD`` classes (defined in ``rest.py``).
